<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <!--<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>-->
    <script th:inline="javascript" type="text/javascript">
        // 获取session的userName
        let token = [[${token}]];
        let url = "http://localhost:8080/ws?token=" + token;

        // 建立连接对象（还未发起连接）
        let socket = new SockJS(url);

        // 获取 STOMP 子协议的客户端对象
        let stompClient = Stomp.over(socket);

        // 向服务器发起websocket连接并发送CONNECT帧
        stompClient.connect(
            {},
            function connectCallback(frame) {
                // 连接成功时（服务器响应 CONNECTED 帧）的回调方法
                // 订阅时,如果是用户一对一订阅 不需要带上userName,直接/user/queue/*即可 /queue/*为订阅目标
                stompClient.subscribe('/user/queue/msg', function (response) {
                    // 订阅成功后, 每次回调方法
                    var returnData = JSON.parse(response.body);
                    if (returnData){
                        showMsg(returnData);
                    }
                });

                stompClient.subscribe('/topic/subscribe', function (response) {
                    var returnData = JSON.parse(response.body);
                    if (returnData){
                        showMsg(returnData);
                    }
                });

                stompClient.subscribe('/topic/member', function (response) {
                    var returnData = JSON.parse(response.body);
                    if (returnData){
                        showMember(returnData);
                    }
                });
            },
            function errorCallBack(error) {
                // 连接失败时（服务器响应 ERROR 帧）的回调方法
                console.log("连接失败");
            }
        );

        // 发送消息
        function send() {
            var message = $("#text").val();
            var messageJson = JSON.stringify({ "msg": message });
            stompClient.send("/send", {}, messageJson);
        }

        // 将消息显示在网页上
        function showMsg(result) {
            var data = "<div>" +
                        "<p><span style='width: 150px; display: inline-block'>" + result.sendUserName + "</span>" + result.sendTime + "</p>" +
                        "<p style='margin-left: 50px'>" + result.msg + "</p>" +
                        "</div>";
            $("#message").append(data)
        }

        function showMember(result) {
            var data = "<div>" +
                       "<p style='text-align: center'> " + result.member + " connected </p>" +
                       "</div>";
            $("#message").append(data)
        }

    </script>
</head>
<body>
Welcome<br/>
<div id="message"></div>
<hr/>
<input id="text" type="text" />
<button onclick="send()">发送消息</button>
<button onclick="closeWebSocket()">离线</button>
<hr/>
</body>
</html>