<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.springboot.core.mapper.PermissionMapper">

     <resultMap id="baseResultMap" type="demo.springboot.core.domain.vo.PermissionVO">

     </resultMap>

     <sql id="baseSql">

     </sql>

    <!-- 根据用户名查找权限信息 -->
    <select id="findPermissions" parameterType="string" resultType="string">
          select distinct p.permission_code
          from t_user u
          inner join t_user_role ur
          on u.user_id = ur.user_id
          inner join t_role_permission rp
          on rp.role_id = ur.role_id
          inner join t_permission p
          on p.permission_id = rp.permission_id
          where u.user_name = #{userName}
    </select>
</mapper>