<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/insdep/insdep.easyui.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/insdep/icon.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/insdep/iconfont/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/insdep/insdep.config.min.css}">
    <script type="text/javascript" th:src="@{/easyui/insdep/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/insdep/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/insdep/insdep.config.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/insdep/insdep.easyui.min.js}"></script>
</head>
<script type="text/javascript">

</script>
<body style="width: 100%">
  <div style="text-align: center;width: 100%">
      <table class="table table-celled" style="width: 1300px;margin-left: auto;margin-right: auto;margin-top: 20px">
          <thead>
             <tr>
                 <th style="width: 100px;text-align: center">任务id</th>
                 <th style="width: 200px;text-align: center">执行class</th>
                 <th style="width: 100px;text-align: center">执行表达式</th>
                 <th style="width: 100px;text-align: center">任务状态</th>
                 <th style="width: 150px;text-align: center">任务名</th>
                 <th style="width: 150px;text-align: center">任务group</th>
                 <th style="width: 250px;text-align: center">备注</th>
                 <th style="width: 150px;text-align: center">创建时间</th>
                 <th style="width: 150px;text-align: center">操作</th>
             </tr>
          </thead>
          <tbody style="text-align: center">
             <tr th:each="task, iterStat: ${taskList}">
                 <td th:text="${task.id}"></td>
                 <td th:text="${task.className}"></td>
                 <td th:text="${task.cronExpression}"></td>
                 <td th:text="${task.status}"></td>
                 <td th:text="${task.jobName}"></td>
                 <td th:text="${task.jobGroup}"></td>
                 <td th:text="${task.description}"></td>
                 <td th:text="${task.createTime}"></td>
                 <td>
                     <a style="color: #ff6d76;text-decoration: underline;" th:href="@{'/pause/' + ${task.id}}">暂停</a>
                     <a style="color: #0aa5df;text-decoration: underline;" th:href="@{'/resume/' + ${task.id}}">恢复</a>
                 </td>
             </tr>
          </tbody>
      </table>
  </div>
</body>
</html>